.page-home-item,
.page-home-title, .page-title {
  background-color: #333;
  color: #fff;
}

.page-home-title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.masonry {
  background-color: #fff;
}

.page-home-content {
  position: relative;
}

iframe {
  margin-top: 0 !important;
}

#word-encoder {
  background-color: #333 !important;
}
